
@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src: url('../assets/fonts/DIN Next/DINNextLTPro-Heavy.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url('../assets/fonts/DIN Next/DINNextLTPro-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
