$gothambold: "Gotham Bold";

// layers
$bottom: 0;
$low: 1;
$middle: 2;
$high: 3;
$top: 4;

// format dimentions
$desktop-width:2000px;
$desktop-height:1050px;

$primary-color: #da0000;
$primary-color-border: #bc0000;
$secondary-color: #9a0000;
