#intro-view {

    #canvas {
        width:100%;
        height:100%;
        background: none;
    }

    .scale-container {
        position: absolute;
		z-index: 1;
		bottom:0;
		left: 50%;
		height: 1050px;
		width:2000px;
		margin: 0 -1000px;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
        transform-origin:center bottom;

        .cup {
            position: absolute;
            left:54%;
            bottom:-987px;
            margin: 0 -341px;
            width:681px;
            height:988px;
    	    // background: url("images/intro/cup.png") no-repeat;
        }
    }
}
