#team-vs-team-view {

    .scaler {
        position: absolute;
		z-index: 1;
		left: 50%;
        top:50%;
		height: 1050px;
		width:2000px;
		margin: -525px -1000px;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
        transform-origin:center center;
    }

    .team-wedge {
        position: absolute;
        height:1050px;
    }

    #portland-wedge {
        background: url("images/team-vs-team/portland-wedge.png") no-repeat;
        width:1498px;
        left:-1498px;
    }

    #dallas-wedge {
        background: url("images/team-vs-team/dallas-wedge.png") no-repeat;
        width:1557px;
        right:-1557px;
    }
}
