#team-vs-team-view {

    .scaler {
        position: absolute;
		z-index: 1;
		bottom:0;
		left: 50%;
		height: 1050px;
		width:2000px;
		margin: 0 -1000px;
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
        transform-origin:center bottom;
    }

    .team-wedge {
        position: absolute;
        height:1050px;
    }

    #portland-wedge {
        background: url("images/intro/cup.png") no-repeat;
        width:1498px;
        left:0;
    }

    #dallas-wedge {
        background: url("images/intro/cup.png") no-repeat;
        width:1557px;
        right:0
    }


}
